.section.whoweare(data-anchor="team")
  .wrapper-pd-top
    h2 Who we are
      
    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .middle-text.hidden-xs
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
            
      .row
        .team-photos
          .col-xs-6.col-sm-6.col-md-6
            .team-photo.pull-right
              image(src="build/img/men1.jpg" alt="Photo men1" class="img-responsive")
          .col-xs-6.col-sm-6.col-md-6
            .team-photo
              image(src="build/img/women1.jpg" alt="Photo women1" class="img-responsive")
          .col-xs-6.col-sm-6.col-md-6
            .team-photo.pull-right
              image(src="build/img/men2.jpg" alt="Photo men2" class="img-responsive")
          .col-xs-6.col-sm-6.col-md-6
            .team-photo
              image(src="build/img/women2.jpg" alt="Photo women2" class="img-responsive")
            
        
