.section.whoweare(data-anchor="team")
  .wrapper75
    h2.bg-heading Who we are
      .bg-overlay
      
    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .middle-text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    
            
      .row
        .team-photos
          .col-xs-6.col-sm-3.col-md-3
            .team-photo
              image(src="build/img/person1.jpg" alt="Photo preson1" class="img-responsive")
              .team-photo-overlay
          .col-xs-6.col-sm-3.col-md-3
            .team-photo
              image(src="build/img/person2.jpg" alt="Photo preson2" class="img-responsive")
              .team-photo-overlay
          .col-xs-6.col-sm-3.col-md-3
            .team-photo
              image(src="build/img/person3.jpg" alt="Photo preson3" class="img-responsive")
              .team-photo-overlay
          .col-xs-6.col-sm-3.col-md-3
            .team-photo
              image(src="build/img/person4.jpg" alt="Photo preson4" class="img-responsive")
              .team-photo-overlay
            
        
