.section.welcome(data-anchor="home")
  .container
  
    .welcome-text
      h1 All you need is 
        span B&W
      h6 Agency for mobile and web applications
      
    
    .welcome-icon-down
      img(src="build/img/chevron-down.png" alt="Icon arrow down" class="arrow-down")
        
  
  
      
  
