.section.getintouch(data-anchor="contact")
  .container-fliud
    .wrapper
      .row
        .col-xs-12.col-sm-12.col-md-6
          .row
            .col-xs-12
                h2 Get in touch
          
            .col-xs-12
                h1
                  a(href="" class="our-contact") bandw@mail.com
                
            .col-xs-2
              a(href="" class="facebook social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.652 49.652')
                  path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z', fill='#e6afa1')

            .col-xs-2
              a(href="" class="twitter social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.652 49.652')
                  path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm11.075 19.144c.011.246.017.494.017.742 0 7.551-5.746 16.255-16.259 16.255-3.227 0-6.231-.943-8.759-2.565.447.053.902.08 1.363.08 2.678 0 5.141-.914 7.097-2.446a5.72 5.72 0 0 1-5.338-3.969 5.76 5.76 0 0 0 2.58-.096 5.715 5.715 0 0 1-4.583-5.603l.001-.072a5.69 5.69 0 0 0 2.587.714 5.71 5.71 0 0 1-2.541-4.755c0-1.048.281-2.03.773-2.874a16.225 16.225 0 0 0 11.777 5.972 5.707 5.707 0 0 1-.147-1.303 5.714 5.714 0 0 1 9.884-3.91 11.406 11.406 0 0 0 3.63-1.387 5.74 5.74 0 0 1-2.516 3.162 11.36 11.36 0 0 0 3.282-.899 11.494 11.494 0 0 1-2.848 2.954z', fill='#e6afa1')

            .col-xs-2
              a(href="" class="dribbble social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.652 49.652')
                  g(fill='#e6afa1')
                    path(d='M24.089 20.454c-2.305-4.097-4.769-7.435-4.945-7.674a13.342 13.342 0 0 0-7.351 9.301c.351.006 5.901.072 12.296-1.627zm-2.453-8.56c-.014.006-.028.009-.042.012l.04-.009.002-.003zm11.986 2.937a13.265 13.265 0 0 0-8.796-3.322c-1.082 0-2.132.132-3.139.375.2.264 2.701 3.587 4.979 7.771 5.026-1.886 6.924-4.772 6.956-4.824zm-6.528 12.175c-7.864 2.74-10.427 8.267-10.45 8.315a13.247 13.247 0 0 0 8.182 2.825c1.846 0 3.602-.378 5.2-1.058-.197-1.164-.973-5.242-2.846-10.11a.863.863 0 0 0-.086.028zm-1.346-2.076c.174-.057.35-.11.523-.159a41.35 41.35 0 0 0-1.08-2.265c-6.856 2.053-13.438 1.902-13.672 1.898-.005.14-.011.278-.011.42 0 3.422 1.291 6.541 3.411 8.901l-.005-.008c.001.004 3.646-6.464 10.834-8.787z')
                    path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm15.278 27.969a15.686 15.686 0 0 1-.908 2.931 15.78 15.78 0 0 1-1.438 2.649 16.043 16.043 0 0 1-1.901 2.308 15.715 15.715 0 0 1-4.957 3.339c-.941.397-1.929.704-2.931.91a15.632 15.632 0 0 1-3.141.315 15.64 15.64 0 0 1-3.141-.315 15.72 15.72 0 0 1-2.931-.91 15.61 15.61 0 0 1-6.859-5.647 15.754 15.754 0 0 1-1.438-2.649 15.623 15.623 0 0 1-.91-2.931 15.706 15.706 0 0 1-.316-3.144A15.557 15.557 0 0 1 13.799 13.8a15.586 15.586 0 0 1 4.956-3.342 15.589 15.589 0 0 1 6.072-1.226 15.651 15.651 0 0 1 6.073 1.226c.926.392 1.815.873 2.649 1.438a15.617 15.617 0 0 1 4.209 4.211 15.62 15.62 0 0 1 1.438 2.647c.396.943.705 1.93.909 2.932.211 1.025.315 2.082.315 3.139 0 1.06-.106 2.115-.316 3.144z')
                    path(d='M29.676 26.36c1.748 4.8 2.457 8.709 2.592 9.514a13.332 13.332 0 0 0 5.709-8.933c-.276-.091-4.002-1.267-8.301-.581zm-1.987-4.723c.312.635.608 1.28.887 1.932.1.23.192.46.287.688 4.576-.574 9.084.396 9.274.437a13.246 13.246 0 0 0-3.026-8.326c-.023.035-2.16 3.123-7.422 5.269z')

            .col-xs-2
              a(href="" class="github social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 438.549 438.549')
                  path(d='M409.132 114.573c-19.608-33.596-46.205-60.194-79.798-79.8-33.598-19.607-70.277-29.408-110.063-29.408-39.781 0-76.472 9.804-110.063 29.408-33.596 19.605-60.192 46.204-79.8 79.8C9.803 148.168 0 184.854 0 224.63c0 47.78 13.94 90.745 41.827 128.906 27.884 38.164 63.906 64.572 108.063 79.227 5.14.954 8.945.283 11.419-1.996 2.475-2.282 3.711-5.14 3.711-8.562 0-.571-.049-5.708-.144-15.417a2549.81 2549.81 0 0 1-.144-25.406l-6.567 1.136c-4.187.767-9.469 1.092-15.846 1-6.374-.089-12.991-.757-19.842-1.999-6.854-1.231-13.229-4.086-19.13-8.559-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-.951-2.568-2.098-3.711-3.429-1.142-1.331-1.997-2.663-2.568-3.997-.572-1.335-.098-2.43 1.427-3.289 1.525-.859 4.281-1.276 8.28-1.276l5.708.853c3.807.763 8.516 3.042 14.133 6.851 5.614 3.806 10.229 8.754 13.846 14.842 4.38 7.806 9.657 13.754 15.846 17.847 6.184 4.093 12.419 6.136 18.699 6.136 6.28 0 11.704-.476 16.274-1.423 4.565-.952 8.848-2.383 12.847-4.285 1.713-12.758 6.377-22.559 13.988-29.41-10.848-1.14-20.601-2.857-29.264-5.14-8.658-2.286-17.605-5.996-26.835-11.14-9.235-5.137-16.896-11.516-22.985-19.126-6.09-7.614-11.088-17.61-14.987-29.979-3.901-12.374-5.852-26.648-5.852-42.826 0-23.035 7.52-42.637 22.557-58.817-7.044-17.318-6.379-36.732 1.997-58.24 5.52-1.715 13.706-.428 24.554 3.853 10.85 4.283 18.794 7.952 23.84 10.994 5.046 3.041 9.089 5.618 12.135 7.708 17.705-4.947 35.976-7.421 54.818-7.421s37.117 2.474 54.823 7.421l10.849-6.849c7.419-4.57 16.18-8.758 26.262-12.565 10.088-3.805 17.802-4.853 23.134-3.138 8.562 21.509 9.325 40.922 2.279 58.24 15.036 16.18 22.559 35.787 22.559 58.817 0 16.178-1.958 30.497-5.853 42.966-3.9 12.471-8.941 22.457-15.125 29.979-6.191 7.521-13.901 13.85-23.131 18.986-9.232 5.14-18.182 8.85-26.84 11.136-8.662 2.286-18.415 4.004-29.263 5.146 9.894 8.562 14.842 22.077 14.842 40.539v60.237c0 3.422 1.19 6.279 3.572 8.562 2.379 2.279 6.136 2.95 11.276 1.995 44.163-14.653 80.185-41.062 108.068-79.226 27.88-38.161 41.825-81.126 41.825-128.906-.01-39.771-9.818-76.454-29.414-110.049z', fill='#e6afa1')

            .col-xs-2
              a(href="" class="instagram social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.652 49.652')
                 g(fill='#e6afa1')
                   path(d='M24.825 29.796a4.978 4.978 0 0 0 4.972-4.97 4.954 4.954 0 0 0-.94-2.897 4.964 4.964 0 0 0-4.029-2.073c-1.659 0-3.126.82-4.031 2.072a4.947 4.947 0 0 0-.94 2.897 4.973 4.973 0 0 0 4.968 4.971zm10.853-11.05V13.96l-.623.002-4.164.013.016 4.787z')
                   path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm14.119 21.929v11.56a5.463 5.463 0 0 1-5.457 5.458H16.164a5.462 5.462 0 0 1-5.457-5.458V16.165a5.462 5.462 0 0 1 5.457-5.457h17.323a5.463 5.463 0 0 1 5.458 5.457v5.764z')
                   path(d='M32.549 24.826c0 4.257-3.464 7.723-7.723 7.723s-7.722-3.466-7.722-7.723a7.67 7.67 0 0 1 .568-2.897h-4.215v11.56a2.706 2.706 0 0 0 2.706 2.704h17.323a2.707 2.707 0 0 0 2.706-2.704v-11.56h-4.217c.367.894.574 1.873.574 2.897z')

            .col-xs-2
              a(href="" class="linkdin social-icons") 
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 49.652 49.652')
                  g(fill='#e6afa1')
                    path(d='M29.35 21.298c-2.125 0-3.074 1.168-3.605 1.988v-1.704h-4.002c.052 1.128 0 12.041 0 12.041h4.002v-6.727c0-.359.023-.72.131-.977.29-.72.948-1.465 2.054-1.465 1.448 0 2.027 1.104 2.027 2.724v6.442h4.003v-6.905c-.002-3.696-1.977-5.417-4.61-5.417zm-3.608 2.03h-.025c.008-.014.02-.027.025-.041v.041zm-10.219-1.746h4.002v12.041h-4.002z')
                    path(d='M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm13.165 36.055c0 1.056-.876 1.91-1.959 1.91H13.451c-1.08 0-1.957-.854-1.957-1.91V13.211c0-1.055.877-1.91 1.957-1.91h22.581c1.082 0 1.959.856 1.959 1.91v22.844z')
                    path(d='M17.551 15.777c-1.368 0-2.264.898-2.264 2.08 0 1.155.869 2.08 2.211 2.08h.026c1.396 0 2.265-.925 2.265-2.08-.027-1.181-.868-2.08-2.238-2.08z')


        .col-xs-12.col-sm-12.col-md-6
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6489.589580335447!2d15.972302010013196!3d45.81034654970437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d692c902cc39%3A0x3a45249628fbc28a!2sZagreb%2C+Hrvatska!5e0!3m2!1shr!2shu!4v1480937920730', frameborder='0', style='border:0', allowfullscreen='yes', class="google-map")
            
