.section.blueline(data-anchor="blueline")
  .hoverOverlay
    .wrapper
      .row
        .col-xs-12.col-sm-7.col-md-6.col-lg-7
          img(src="build/img/macbook.png" alt="Macbook pro" class="img-responsive macbook-img animatedDevice hidden-xs")
          img(src="build/img/section-blueline-devices.png" alt="Blueline devices" class="img-responsive sm-devices-img animatedDevice visible-xs")

          
        .col-xs-12.col-sm-5.col-md-6.col-lg-5
          .description
            h2 BlueLine
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            
            .icon-arrow-right
              img(src="build/img/chevron.png" alt="Chevron right")
            
          
