.section.littera(data-anchor="littera")
  .hoverOverlay
    .wrapper
      .container
        .row
          .col-xs-12.col-sm-7.col-md-6.col-lg-7
            img(src="build/img/ipad.png" alt="Ipad" class="img-responsive ipad-img animatedDevice hidden-xs")
            img(src="build/img/section-littera-devices.png" alt="Littera devices" class="img-responsive sm-devices-img animatedDevice visible-xs")

            
          .col-xs-12.col-sm-5.col-md-6.col-lg-5
            .description
              h2 Littera
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              
              .icon-arrow-right
                img(src="build/img/chevron.png" alt="Chevron right")
                  
          
