.section.whatwedo(data-anchor="services")
  .wrapper-pd-top
    .container
      .row
        .col-xs-12
          h2 What we do
            
    .our-slide
      .row
        .col-md-12
              
          .btn-controls.hidden-xs
            .bandwbtn Planning
            .bandwbtn Design
            .bandwbtn Develop
            .bandwbtn Services
            
          .slide-wrapper
            .row
              .col-xs-12.col-sm-5.col-md-6
                .slide-img
                  img(src="build/img/icon-plan.png" alt="Image slide1")
              .col-xs-12.col-sm-7.col-md-6
                .slide-text
                  p.pull-left Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        
          .slide-wrapper
            .row
              .col-xs-12.col-sm-5.col-md-6
                .slide-img
                  img(src="build/img/design-icon.png" alt="Image slide2")
              .col-xs-12.col-sm-7.col-md-6
                .slide-text
                  p.pull-left Fusce eget erat nisl. Quisque accumsan sagittis metus, vitae cursus dui pharetra non. Suspendisse id ipsum sed elit fermentum hendrerit nec in enim. 
                  
          .slide-wrapper
            .row
              .col-xs-12.col-sm-5.col-md-6
                .slide-img
                  img(src="build/img/develop-icon.png" alt="Image slide3")
              .col-xs-12.col-sm-7.col-md-6
                .slide-text
                  p.pull-left Donec fermentum, sapien et suscipit tincidunt, mauris nisl suscipit orci, et tincidunt orci tortor sit amet ante. Aliquam fermentum maximus purus eget lacinia. Quisque blandit sapien aliquam, vehicula dui ac, pellentesque leo. Sed sapien orci, pretium id mi et, ullamcorper dignissim ante.
          .slide-wrapper
            .row
              .col-xs-12.col-sm-5.col-md-6
                .slide-img
                  img(src="build/img/service-icon.png" alt="Image slide4")
              .col-xs-12.col-sm-7.col-md-6
                .slide-text
                  p.pull-left Vestibulum cursus sagittis est, at lobortis est commodo ut. Quisque aliquam mattis lorem non imperdiet. Donec commodo nibh ac leo tempus volutpat.
