.section.coffmeet(data-anchor="coffmeet")
  .hoverOverlay
    .wrapper
      .container
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-5
            .description
              h2 Coffmeet
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              
              .icon-arrow-right
                img(src="build/img/chevron.png" alt="Chevron right")
                  
          .col-xs-12.col-sm-6.col-md-6.col-lg-7
            img(src="build/img/iphone.png" alt="iPhone" class="img-responsive iphone-img animatedDevice hidden-xs")
            img(src="build/img/section-coffmeet-devices.png" alt="Coffmeet devices" class="img-responsive sm-devices-img animatedDevice visible-xs")
          
      
