.section.blueline(data-anchor="blueline")
  .hoverOverlay
    .wrapper
      .row
        .col-xs-12.col-sm-7.col-md-6.col-lg-5
          img(src="build/img/macbook.png" alt="Macbook pro" class="img-responsive macbook-img animatedDevice")
          
        .col-xs-12.col-sm-5.col-md-6.col-lg-7
          .description
            h2 BlueLine
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            
            .icon-arrow-right
              svg(id="arrow-right-svg" xmlns='http://www.w3.org/2000/svg',  viewbox='0 0 64.038496 98.148496')
                path.path(d='M16.403 97.562L63.476 50.49c.75-.75.75-2.078 0-2.828L16.401.586a2 2 0 0 0-2.828 0L.586 13.573A1.992 1.992 0 0 0 0 14.987c0 .512.195 1.023.586 1.414L33.26 49.075.587 81.75c-.751.75-.75 2.078 0 2.828l12.987 12.984a1.999 1.999 0 0 0 2.829 0z')

                  
          
