.section.beers
  .description
    padding: 0 5%

  .imac-img
    width: 50%
    position: relative
    top: 0
    left: 50%


  @media only screen and (min-width: $mdScreen)
      .imac-img
        width: 100%
